QLineEdit
{
  width: 200px;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0px 16px;
  border-radius: 6px;
  text-align:center;
  background-color: white;
  color: blue;
}

.QLineEdit:focus {
  border-color: #66afe9;
  outline: 0;
}
QPushButton
{
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-family: "Comic Sans MS";
}

.QPushButton:hover
{
 color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.QPushButton:!enabled
{
  background-color:rgb(239, 239, 239);
}

QGroupBox
{
  background-color:#fff;
}

QLabel#username_label, #password_label
{
 background-color: #337ab7;
  margin-bottom: 5px;
  font-size: 10px;
  color:white;
  font-weight: bold;
}

QMainWindow{
  
   background-repeat: no-repeat;
   opacity: 455;
}

QCalender
{
  background-color: #fff;
}

QFrame#frame_2,#frame_3
{
  background-image: url("curtain.png");
  

}

QCommandLinkButton
{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  font-family: "Comic Sans MS";
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

QCommandLinkButton:hover {
   color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

QTableView
{
  height: auto;
  line-height: 1.42857143;
  border: 2px solid #ddd;
  border-radius: 6px;
  color: #000084;
  font-family: "Comic Sans MS";
  background-color: white;
}

QDialog#Login
{
  background-color: #fff;
}

[mandatoryField="true"]
{
    background-color:yellow;
}

QPushButton#Cancel_pushButton
{
  background-color: red;

}

QLabel#totalprice,#showtotalprice,#filtertext{

  color: blue;
  font-size: 15px;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; 
}
QLabel
{
  color: blue;
  font-size: 15px;
  font-family: "Comic Sans MS";

}

QComboBox
{
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  border-radius: 6px;
  color: blue;
  font-weight: bold;
  text-align: center;
}
QDateEdit
{
  color: blue;
  font-family: "Comic Sans MS";
  font-size: 15px;
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  border-radius: 6px;

}
QToolBar
{
  background-color: white;
}

QLabel#Info_label,#attendant_label,#datetime_label
{
  background-color: white;
  
}

QCalendarWidget#calender
{
  color: white;
  height: 100px;
  width: 200px;
}

QCheckBox
{
  color: blue;
  font-family: "Comic Sans MS";
  font-size: 15px;

}
QPlainTextEdit
{
  color: blue;
  font-family: "Comic Sans MS";
  font-size: 14px;
}